#second-section-container {
  width: 100%;
  padding: 7rem 0;
  max-width: 1140px;
}

.second-section-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 2rem;
}

.second-section-header h5 {
  font-size: 1.6rem;
}

.second-section-header a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #1780df;
  font-weight: 700;
}

.second-section-header a:hover {
  color: #f94713;
  cursor: pointer;
}

.second-section-header a i {
  margin-right: 0.5rem;
}

.second-section-cards {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  direction: rtl;
  column-gap: 2rem;
}

.second-section-card {
  width: 125px;
  height: 135px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.second-section-card:hover {
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
}

.card-pic-container {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.second-section-card p {
  font-size: 1.4rem;
  font-weight: 700;
}
